## Data from World Happiness Report

The World Happiness Report is an annual publication of the United Nations Sustainable Development Solutions Network. It contains articles, and rankings of national happiness based on respondent ratings of their own lives, which the report also correlates with various life factors.

In this notebook we will explore the happiness of different countries and the features associated.
The datasets that we will use are available in *Data*: **happiness2020.pkl** and **countries_info.csv**.

Although the features are self-explanatory, here a summary: 

**happiness2020.pkl**
* country: *Name of the country*
* happiness_score: *Happiness score*
* social_support: *Social support (mitigation the effects of inequality)*
* healthy_life_expectancy: *Healthy Life Expectancy*
* freedom_of_choices: *Freedom to make life choices*
* generosity: *Generosity (charity, volunteers)*
* perception_of_corruption: *Corruption Perception*
* world_region: *Area of the world of the country*

**countries_info.csv**
* country_name: *Name of the country*
* area: *Area in sq mi*
* population: *Number of people*
* literacy: *Literacy percentage*

In [1]:
!head Data/countries_info.csv

country_name,area,population,literacy
afghanistan,647500,31056997,"36,0"
albania,28748,3581655,"86,5"
algeria,2381740,32930091,"70,0"
argentina,2766890,39921833,"97,1"
armenia,29800,2976372,"98,6"
australia,7686850,20264082,"100,0"
austria,83870,8192880,"98,0"
azerbaijan,86600,7961619,"97,0"
bahrain,665,698585,"89,1"

In [2]:
import pandas as pd
%matplotlib inline

DATA_FOLDER = 'Data/'

HAPPINESS_DATASET = DATA_FOLDER+"happiness2020.csv"
COUNTRIES_DATASET = DATA_FOLDER+"countries_info.csv"

## Task 1: Load the data

Load the 2 datasets in Pandas dataframes (called *happiness* and *countries*), and show the first rows.


**Hint**: Use the correct reader and verify the data has the expected format.

In [93]:
# Write your code here
happiness_df = pd.read_csv(HAPPINESS_DATASET, decimal=',', dtype={"country": str,
"happiness_score": float,
"social_support": float,
"healthy_life_expectancy": float,
"freedom_of_choices": float,
"generosity": float,
"perception_of_corruption": float,
"world_region": str})
countries_df = pd.read_csv(COUNTRIES_DATASET, decimal=',')

ValueError: cannot safely convert passed user dtype of float64 for object dtyped data in column 1

In [73]:
happiness_df["country_name"] = happiness_df["country"].apply(lambda r: r.lower())

## Task 2: Let's merge the data

Create a dataframe called *country_features* by merging *happiness* and *countries*. A row of this dataframe must describe all the features that we have about a country.

**Hint**: Verify that all the rows are in the final dataframe.

In [74]:
# Write your code here
country_features = pd.merge(happiness_df, countries_df, "inner", on="country_name").drop("country_name", axis=1)

In [75]:
country_features.head()

,country,happiness_score,social_support,healthy_life_expectancy,freedom_of_choices,generosity,perception_of_corruption,world_region,area,population,literacy
0,Afghanistan,2.566900015,0.470366955,52.59000015,0.39657300700000003,-0.0964294,0.9336865540000001,South Asia,647500,31056997,36.0
1,Albania,4.882699966000001,0.671070457,68.70813751,0.7819942240000001,-0.042309489000000006,0.896303713,Central and Eastern Europe,28748,3581655,86.5
2,Algeria,5.005099773,0.8033851390000001,65.90517426,0.46661090899999996,-0.121105164,0.7354851370000001,Middle East and North Africa,2381740,32930091,70.0
3,Argentina,5.974699974,0.900567949,68.80380249,0.831132412,-0.194913864,0.8420098420000001,Latin America and Caribbean,2766890,39921833,97.1
4,Armenia,4.676799774,0.7574794290000001,66.75065613,0.7120178340000001,-0.13877961,0.7735447879999999,Commonwealth of Independent States,29800,2976372,98.6

## Task 3: Where are people happier?

Print the top 10 countries based on their happiness score (higher is better).

In [76]:
# Write your code here
country_features.sort_values(by="happiness_score", ascending=False)[["country", "happiness_score"]].head(10)

         country     happiness_score
38       Finland         7.808700085
31       Denmark         7.645599842
115  Switzerland   7.559899807000001
50       Iceland   7.504499912000001
92        Norway   7.487999916000001
87   Netherlands         7.448900223
114       Sweden         7.353499889
88   New Zealand  7.2996001239999995
6        Austria         7.294199944
72    Luxembourg  7.2375001910000005

We are interested to know in what world region people are happier. 

Create and print a dataframe with the (1) average happiness score and (2) the number of contries for each world region.
Sort the result to show the happiness ranking.

In [89]:
country_features.groupby(by="world_region").mean(numeric_only=True).head() # POURQUOI ??????

                                            area    population  literacy
world_region
Central and Eastern Europe          9.115057e+04  8.757194e+06  97.75000
Commonwealth of Independent States  1.841737e+06  2.334013e+07  98.72500
East Asia                           3.846304e+06  4.814232e+08  95.90000
Latin America and Caribbean         9.948965e+05  2.706073e+07  86.45000
Middle East and North Africa        7.082456e+05  2.483428e+07  74.75625

In [90]:
# Write your code here
average_df = country_features.groupby(by="world_region").mean(numeric_only=True).loc[:, "happiness_score"]
count_df = country_features.groupby(by="world_region").count().loc[:, "country"].rename("nb_country")
happiness_count_df = pd.merge(average_df, count_df, "outer", on="world_region")
happiness_count_df.sort_values(by="happiness_score", ascending=False).head(10)

TypeError: Could not convert 4.8826999660000015.1015000345.5047001846.91090011600000056.02180004100000056.0004000665.94999980899999956.2154998779999995.15980005300000066.18629980100000056.1237001420000015.778200156.2806000716.363399982000001 to numeric

The first region has only a few countries! What are them and what is their score?

In [56]:
# Write your code here
country_features.loc[country_features["world_region"] == "North America and ANZ", :]

,country,happiness_score,social_support,healthy_life_expectancy,freedom_of_choices,generosity,perception_of_corruption,world_region,area,population,literacy
5,Australia,7.2228,0.944855,73.604538,0.915432,0.190460,0.415169,North America and ANZ,7686850,20264082,"100,0"
21,Canada,7.2321,0.927177,73.601601,0.933913,0.124771,0.390843,North America and ANZ,9984670,33098932,"97,0"
88,New Zealand,7.2996,0.949119,73.202629,0.936217,0.191598,0.221139,North America and ANZ,268680,4076140,"99,0"
127,United States,6.9396,0.914219,68.299500,0.842620,0.149892,0.699715,North America and ANZ,9631420,298444215,"97,0"

## Task 4: How literate is the world?

Print the names of the countries with a level of literacy of 100%. 

For each country, print the name and the world region in the format: *{region name} - {country name} ({happiness score})*

In [68]:
country_features.head()

,country,happiness_score,social_support,healthy_life_expectancy,freedom_of_choices,generosity,perception_of_corruption,world_region,area,population,literacy
0,Afghanistan,2.5669,0.470367,52.590000,0.396573,-0.096429,0.933687,South Asia,647500,31056997,"36,0"
1,Albania,4.8827,0.671070,68.708138,0.781994,-0.042309,0.896304,Central and Eastern Europe,28748,3581655,"86,5"
2,Algeria,5.0051,0.803385,65.905174,0.466611,-0.121105,0.735485,Middle East and North Africa,2381740,32930091,"70,0"
3,Argentina,5.9747,0.900568,68.803802,0.831132,-0.194914,0.842010,Latin America and Caribbean,2766890,39921833,"97,1"
4,Armenia,4.6768,0.757479,66.750656,0.712018,-0.138780,0.773545,Commonwealth of Independent States,29800,2976372,"98,6"

In [71]:
# Write your code here
for idx, row in country_features[country_features.literacy==100].iterrows():
    print("{} - {} ({})".format(row.world_region, row.country, row.happiness_score))

What is the global average?

In [66]:
# Write your code here
country_features.literacy.mean()

TypeError: can only concatenate str (not "int") to str

Calculate the proportion of countries with a literacy level below 50%. Print the value in percentage, formatted with 2 decimals.

In [ ]:
# Write your code here

Print the raw number and the percentage of world population that is illiterate.

In [ ]:
# Write your code here

## Task 5: Population density

Add to the dataframe a new field called *population_density* computed by dividing *population* by *area*.

In [ ]:
# Write your code here

What is the happiness score of the 3 countries with the lowest population density?

In [ ]:
# Write your code here

## Task 6: Healty and happy?

Plot in a scatter plot the happiness score (x) and healty life expectancy (y).

In [ ]:
# Write your code here

Feel free to continue the exploration of the dataset! We'll release the solutions next week.

----
Enjoy EPFL and be happy, next year Switzerland must be #1.